body {
  padding-top: 60px;
  background-color: rgb(48, 47, 47);
  color: white;
}

table td, th{
  color: white;
}
.img-home{
  height: 400px;
}

.img-display{
  object-fit: contain;
}

.img-read{
  padding-top: 15px;
}

.pagination{
  padding-top: 30px;
}

.img-thumb{
  height: 400px;
  max-width: 400px;
  object-fit: contain;
}

.dark-card{
  background-color: rgb(48, 47, 47);
}