<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<title>Erica is good, but Souji and Mayumi are better</title>
		{% include 'import.html' %}

	</head>

	<body>
		{% include 'navbar.html' %}
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="row">
						{% for i in range(column*4*(page-1), min(column*4*page,manga|length)) %}
						<div class="col-3 mt-5">
							<a href="{{ url_for('mangaInfo', mangaId = manga[i].id) }}">
								<img class="card-img-top img-responsive h-100 img-home" src="{{manga[i].thumb}}" alt="">
							</a>
							<a href="{{ url_for('mangaInfo', mangaId = manga[i].id) }}">{{ manga[i].name }}</a>
						</div>
						{% endfor %}
					</div>
					<ul class="pagination justify-content-center">
					{% for i in range(1,(manga|length / (4*column))|int + 2) %}
						<li class="page-item {% if page==i %} {{'active'}} {% endif %}">
							<a class="page-link" href="{{ url_for('main', page = i) }}">{{i}}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>
	

		</div>
		{% include 'footer.html' %}
	</body>

</html>