<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<title>Erica is good, but Souji and Mayumi are better</title>
		{% include 'import.html' %}
		<script>
			var clientHeight = $( window ).width();
  			$('.img-home').css('height', width/1.7);
	  </script>

	</head>

	<body>
		{% include 'navbar.html' %}
		<div class="container-fluid pr-5 pl-5">
			<div class="row">
				<div class="col-12">
					<div class="row">
						{% for i in range(column*4*(page-1), min(column*4*page,manga|length)) %}
						<div class="col-3 mt-4 card dark-card">
							<a href="{{ url_for('mangaInfo', mangaId = manga[i].id) }}">
								<img class="img-fluid img-home card-img-top pt-3 mx-auto d-block" src="{{manga[i].thumb}}"/>
							</a>
							<div class="card-body">
								<a href="{{ url_for('mangaInfo', mangaId = manga[i].id) }}">{{ manga[i].name }}</a>
							</div>
						</div>
						{% endfor %}
					</div>
					
					<div class="col-12">
						<div class="row"></div>
							<ul class="pagination justify-content-center">
							{% for i in range(1,(manga|length / (4*column))|int + 2) %}
								<li class="page-item {% if page==i %} {{'active'}} {% endif %}">
									<a class="page-link" href="{{ url_for('main', page = i) }}">{{i}}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
	

		</div>
		{% include 'footer.html' %}
	</body>

</html>