<!DOCTYPE html>
<html lang="en">

	<head>

		<meta charset="utf-8">
		<title>{{ manga.name }}</title>
		{% include 'import.html' %}
		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();   
			});
		</script>

	</head>

	<body>
		{% include 'navbar.html' %}
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1>{{ manga.name }}</h1>
				</div>
				<div class="col-5">
					<img class="mx-auto img-fluid d-block img-home" src="{{manga.thumb}}" >
				</div>
				<div class="col-7 ml-auto">
					<div class="row">
						<table id="dtVerticalScrollExample" class="table table-striped table-bordered table-fixed" id='chapters-list'>
							<thead>
							  <tr>
								<th style="width: 70%">Tên chương</th>
								<th style="width : 30%">Ngày cập nhật</th>
							  </tr>
							</thead>
							<tbody>
								{% for i in range(0, manga.chapterCount) %}
							  <tr>
									<td> <a href="{{ url_for('read', chapterId = manga.chapterList[i]['id']) }}">{{ manga.chapterList[i]['name'] }}</a></td>
									<td>{{ manga.chapterList[i]['date'] }}</td>
								</tr>
								{% endfor %}
							</tbody>
						  </table>
					</div>
				</div>
			
			</div>
		</div>
	</body>

</html>